<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Riddle Me This?"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Riddle_beta1_definited"
        tools:targetApi="31">
        <activity
            android:name=".TelaContrucao8"
            android:exported="false" />
        <activity
            android:name=".TelaPosQuiz6"
            android:exported="false" />
        <activity
            android:name=".TelaExplicaQuiz7"
            android:exported="false" />
        <activity
            android:name=".TelaLogin1"
            android:exported="false" />

        <activity
            android:name=".TelaCadastro2"
            android:exported="false" />

        <activity
            android:name=".TelaLoading1_2"
            android:exported="false" />
        <activity
            android:name=".TelaQuiz5"
            android:exported="false" />
        <activity
            android:name=".TelaParticipantes4"
            android:exported="false" /> <!-- Atividade Splash (Primeira tela exibida) -->
        <activity
            android:name=".TelaLoading1_1"
            android:exported="true"
            android:theme="@style/Theme.Riddle_beta1_definited">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Atividade Principal -->
        <activity
            android:name=".TelaOpcoes3"
            android:exported="true" />
    </application>

</manifest>