<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://wepapi-fyhrfda9gxdmfmch.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>f49d33ac-a416-40fe-9f21-d001379330bc</ProjectGuid>
    <PublishUrl>https://wepapi-fyhrfda9gxdmfmch.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$wepapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>